apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Chart.Name }}-gateway-deployment
  labels:
    app: gateway
spec:
  replicas: {{ .Values.gateway.replicas }}
  selector:
    matchLabels:
      app: gateway
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
  template:
    metadata:
      labels:
        app: gateway
    spec:
      containers:
          - name: gateway-container
            image: vksehfkdydy/fc-nestjs-gateway:latest
            envFrom:
              - configMapRef:
                  name: gateway-config-map
            ports:
              - containerPort: 3000
            livenessProbe:
              tcpSocket:
                port: 3000
              initialDelaySeconds: 5
              periodSeconds: 5
            readinessProbe:
              tcpSocket:
                port: 3000
              initialDelaySeconds: 5
              periodSeconds: 5